In [1]:
import os
import numpy as np
import scipy
import pandas as pd
import math 
import random
import sklearn
from nltk.corpus import stopwords
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [2]:
vente_2015 = pd.read_csv("C:/Users/silva/PycharmProjects/TestExtract/FichierMock_réduit_100K.csv", sep = r'\s*;\s*', header = 0, encoding ="latin-1", engine = 'python')

#Attribution d'une note 1 vente = 1pts
vente_2015['note'] = 1

#Pour la suite du notebook, on va se concentrer sur deux catégories
vente_2015_autre = vente_2015[(vente_2015['categorie_produit'] == 'Autre') | (vente_2015['categorie_client'] == 'Autre')]

vente_2015_high_tech = vente_2015[(vente_2015['categorie_produit'] == 'High-tech') | (vente_2015['categorie_client'] == 'High-tech')]

print('Nombre de ventes par un client ou dun produit "Autre" : %d' % len(vente_2015_autre))

print('Nombre de ventes par un client ou dun produit "High-tech" : %d' % len(vente_2015_high_tech))

Nombre de ventes par un client ou dun produit "Autre" : 346
Nombre de ventes par un client ou dun produit "High-tech" : 19575

In [3]:
#On regroupe d'abord les ventes par client/produit ... 
vente_2015_unique_autre = vente_2015_autre.groupby(['id_client', 'id_produit']).size().groupby('id_client').size()
print("Nombre de client pour catégorie Autre %d" % len(vente_2015_unique_autre))

vente_2015_unique_high_tech = vente_2015_high_tech.groupby(['id_client', 'id_produit']).size().groupby('id_client').size()
print("Nombre de client pour catégorie High-tech %d" % len(vente_2015_unique_high_tech))

#... pour ensuite évaluer le nombre d'achat unique il a fait
#Nous gardons seulement les clients qui ont plus de 2 achats
#Cela pour eviter les problèmes de cold-start
vente_2015_autre_suffisant = vente_2015_unique_autre[vente_2015_unique_autre >= 2].reset_index()[['id_client']]
print("Nombre de client ayant fait un nombre suffisant (2) d'achat Autre %d" % len(vente_2015_autre_suffisant))

vente_2015_high_tech_suffisant = vente_2015_unique_high_tech[vente_2015_unique_high_tech >= 2].reset_index()[['id_client']]
print("Nombre de client ayant fait un nombre suffisant (2) d'achat high_tech %d" % len(vente_2015_high_tech_suffisant))

Nombre de client pour catégorie Autre 194
Nombre de client pour catégorie High-tech 5573
Nombre de client ayant fait un nombre suffisant (2) d'achat Autre 49
Nombre de client ayant fait un nombre suffisant (2) d'achat high_tech 2988

In [4]:
#On join le fichier de base avec les données que nous avons récupéré (les clients ayant acheté un nombre suffisant de produit)
#Afin d'avoir les informations de la vente initiale
vente_2015_entier_autre = vente_2015.merge(vente_2015_autre_suffisant, 
                                how = 'right',
                                left_on = 'id_client',
                                right_on = 'id_client')
print("Nombre de vente autre  %d" % len(vente_2015_entier_autre))

vente_2015_entier_high_tech = vente_2015.merge(vente_2015_high_tech_suffisant, 
                                how = 'right',
                                left_on = 'id_client',
                                right_on = 'id_client')
print("Nombre de vente high-tech  %d" % len(vente_2015_entier_high_tech))

Nombre de vente autre  435
Nombre de vente high-tech  23445

In [5]:
#Pour chaque interaction, nous allons ajouter un facteur, ce qui montre qu'il est est très intéressé par ce produit
def smooth_user_preference(x):
    return math.log(1+x, 2)

#On aggrege alors sur la note et on enlève les doublons
vente_autre = vente_2015_entier_autre.groupby(['id_client', 'id_produit'])['note'].sum().apply(smooth_user_preference).reset_index()
print("Nombre de vente unique client/produit autre %d" % len(vente_autre))

vente_high_tech = vente_2015_entier_high_tech.groupby(['id_client', 'id_produit'])['note'].sum().apply(smooth_user_preference).reset_index()
print("Nombre de vente unique client/produit high-tech %d" % len(vente_high_tech))

Nombre de vente unique client/produit autre 429
Nombre de vente unique client/produit high-tech 23436

In [6]:
#On split le fichier de base en 2 parties : Train et Test
vente_train_autre, vente_test_autre = train_test_split(vente_autre, 
                                          test_size = 0.20)
print("Nombre de vente autre train %d" % len(vente_train_autre))
print("Nombre de vente autre test %d" % len(vente_test_autre))

vente_train_high_tech, vente_test_high_tech = train_test_split(vente_high_tech, 
                                          test_size = 0.20)
print("Nombre de vente high-tech train %d" % len(vente_train_high_tech))
print("Nombre de vente high-tech test %d" % len(vente_test_high_tech))

Nombre de vente autre train 343
Nombre de vente autre test 86
Nombre de vente high-tech train 18748
Nombre de vente high-tech test 4688

In [7]:
#On indexe pour l'id_client pour faciliter les recherches pendant l'évaluation du modèle
vente_full_indexed_autre = vente_autre.set_index('id_client')
vente_train_indexed_autre = vente_train_autre.set_index('id_client')
vente_test_indexed_autre = vente_test_autre.set_index('id_client')

vente_full_indexed_high_tech = vente_high_tech.set_index('id_client')
vente_train_indexed_high_tech = vente_train_high_tech.set_index('id_client')
vente_test_indexed_high_tech = vente_test_high_tech.set_index('id_client')

In [8]:
#Permet de recupérer les données clients et produit
def get_items_interacted(person_id, vente):
    interacted_items = vente.loc[person_id]['id_produit']
    return set(interacted_items if type(interacted_items) == pd.Series else [interacted_items])

In [9]:
#Nous avons choisit d'utiliser la métrique Recall@N
#Elle évalue si l'élément fait partie des N meilleurs recommendations
#La précision Top-N 
EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS = 100

#CLASSE POUR LA CATEGORIE AUTRE
class ModelEvaluator:


    def get_not_interacted_items_sample(self, person_id, sample_size, seed=42):
        interacted_items = get_items_interacted(person_id, vente_full_indexed_autre)
        all_items = set(vente_2015_autre['id_produit'])
        non_interacted_items = all_items - interacted_items

        random.seed(seed)
        non_interacted_items_sample = random.sample(non_interacted_items, sample_size)
        return set(non_interacted_items_sample)

    def _verify_hit_top_n(self, item_id, recommended_items, topn):        
            try:
                index = next(i for i, c in enumerate(recommended_items) if c == item_id)
            except:
                index = -1
            hit = int(index in range(0, topn))
            return hit, index

    def evaluate_model_for_user(self, model, person_id):
        #Getting the items in test set
        interacted_values_testset = vente_test_indexed_autre.loc[person_id]
        if type(interacted_values_testset['id_produit']) == pd.Series:
            person_interacted_items_testset = set(interacted_values_testset['id_produit'])
        else:
            person_interacted_items_testset = set([int(interacted_values_testset['id_produit'])])  
        interacted_items_count_testset = len(person_interacted_items_testset) 

        #Getting a ranked recommendation list from a model for a given user
        person_recs_df = model.recommend_items(person_id, 
                                               items_to_ignore=get_items_interacted(person_id, 
                                                                                    vente_train_indexed_autre), 
                                               topn=10000000000)

        hits_at_5_count = 0
        hits_at_10_count = 0
        #For each item the user has interacted in test set
        for item_id in person_interacted_items_testset:
            #Getting a random sample (100) items the user has not interacted 
            #(to represent items that are assumed to be no relevant to the user)
            non_interacted_items_sample = self.get_not_interacted_items_sample(person_id, 
                                                                          sample_size=EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS, 
                                                                          seed=item_id%(2**32))

            #Combining the current interacted item with the 100 random items
            items_to_filter_recs = non_interacted_items_sample.union(set([item_id]))

            #Filtering only recommendations that are either the interacted item or from a random sample of 100 non-interacted items
            valid_recs_df = person_recs_df[person_recs_df['id_produit'].isin(items_to_filter_recs)]                    
            valid_recs = valid_recs_df['id_produit'].values
            #Verifying if the current interacted item is among the Top-N recommended items
            hit_at_5, index_at_5 = self._verify_hit_top_n(item_id, valid_recs, 5)
            hits_at_5_count += hit_at_5
            hit_at_10, index_at_10 = self._verify_hit_top_n(item_id, valid_recs, 10)
            hits_at_10_count += hit_at_10

        #Recall is the rate of the interacted items that are ranked among the Top-N recommended items, 
        #when mixed with a set of non-relevant items
        recall_at_5 = hits_at_5_count / float(interacted_items_count_testset)
        recall_at_10 = hits_at_10_count / float(interacted_items_count_testset)

        person_metrics = {'hits@5_count':hits_at_5_count, 
                          'hits@10_count':hits_at_10_count, 
                          'interacted_count': interacted_items_count_testset,
                          'recall@5': recall_at_5,
                          'recall@10': recall_at_10}
        return person_metrics

    def evaluate_model(self, model):
        #print('Running evaluation for users')
        people_metrics = []
        for idx, person_id in enumerate(list(vente_test_indexed_autre.index.unique().values)):
            #if idx % 100 == 0 and idx > 0:
            #    print('%d users processed' % idx)
            person_metrics = self.evaluate_model_for_user(model, person_id)  
            person_metrics['_person_id'] = person_id
            people_metrics.append(person_metrics)
        print('%d users processed' % idx)

        detailed_results_df = pd.DataFrame(people_metrics) \
                            .sort_values('interacted_count', ascending=False)
        
        global_recall_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        global_recall_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        
        global_metrics = {'modelName': model.get_model_name(),
                          'recall@5': global_recall_at_5,
                          'recall@10': global_recall_at_10}    
        return global_metrics, detailed_results_df
    
model_evaluator_autre = ModelEvaluator()

In [10]:
#Nous avons choisit d'utiliser la métrique Recall@N
#Elle évalue si l'élément fait partie des N meilleurs recommendations
#La précision Top-N 
EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS = 100

#CLASSE POUR LA CATEGORIE HIGH-TECH
class ModelEvaluator:


    def get_not_interacted_items_sample(self, person_id, sample_size, seed=42):
        interacted_items = get_items_interacted(person_id, vente_full_indexed_high_tech)
        all_items = set(vente_2015_high_tech['id_produit'])
        non_interacted_items = all_items - interacted_items

        random.seed(seed)
        non_interacted_items_sample = random.sample(non_interacted_items, sample_size)
        return set(non_interacted_items_sample)

    def _verify_hit_top_n(self, item_id, recommended_items, topn):        
            try:
                index = next(i for i, c in enumerate(recommended_items) if c == item_id)
            except:
                index = -1
            hit = int(index in range(0, topn))
            return hit, index

    def evaluate_model_for_user(self, model, person_id):
        #Getting the items in test set
        interacted_values_testset = vente_test_indexed_high_tech.loc[person_id]
        if type(interacted_values_testset['id_produit']) == pd.Series:
            person_interacted_items_testset = set(interacted_values_testset['id_produit'])
        else:
            person_interacted_items_testset = set([int(interacted_values_testset['id_produit'])])  
        interacted_items_count_testset = len(person_interacted_items_testset) 

        #Getting a ranked recommendation list from a model for a given user
        person_recs_df = model.recommend_items(person_id, 
                                               items_to_ignore=get_items_interacted(person_id, 
                                                                                    vente_train_indexed_high_tech), 
                                               topn=10000000000)

        hits_at_5_count = 0
        hits_at_10_count = 0
        #For each item the user has interacted in test set
        for item_id in person_interacted_items_testset:
            #Getting a random sample (100) items the user has not interacted 
            #(to represent items that are assumed to be no relevant to the user)
            non_interacted_items_sample = self.get_not_interacted_items_sample(person_id, 
                                                                          sample_size=EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS, 
                                                                          seed=item_id%(2**32))

            #Combining the current interacted item with the 100 random items
            items_to_filter_recs = non_interacted_items_sample.union(set([item_id]))

            #Filtering only recommendations that are either the interacted item or from a random sample of 100 non-interacted items
            valid_recs_df = person_recs_df[person_recs_df['id_produit'].isin(items_to_filter_recs)]                    
            valid_recs = valid_recs_df['id_produit'].values
            #Verifying if the current interacted item is among the Top-N recommended items
            hit_at_5, index_at_5 = self._verify_hit_top_n(item_id, valid_recs, 5)
            hits_at_5_count += hit_at_5
            hit_at_10, index_at_10 = self._verify_hit_top_n(item_id, valid_recs, 10)
            hits_at_10_count += hit_at_10

        #Recall is the rate of the interacted items that are ranked among the Top-N recommended items, 
        #when mixed with a set of non-relevant items
        recall_at_5 = hits_at_5_count / float(interacted_items_count_testset)
        recall_at_10 = hits_at_10_count / float(interacted_items_count_testset)

        person_metrics = {'hits@5_count':hits_at_5_count, 
                          'hits@10_count':hits_at_10_count, 
                          'interacted_count': interacted_items_count_testset,
                          'recall@5': recall_at_5,
                          'recall@10': recall_at_10}
        return person_metrics

    def evaluate_model(self, model):
        #print('Running evaluation for users')
        people_metrics = []
        for idx, person_id in enumerate(list(vente_test_indexed_high_tech.index.unique().values)):
            #if idx % 100 == 0 and idx > 0:
            #    print('%d users processed' % idx)
            person_metrics = self.evaluate_model_for_user(model, person_id)  
            person_metrics['_person_id'] = person_id
            people_metrics.append(person_metrics)
        print('%d users processed' % idx)

        detailed_results_df = pd.DataFrame(people_metrics) \
                            .sort_values('interacted_count', ascending=False)
        
        global_recall_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        global_recall_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        
        global_metrics = {'modelName': model.get_model_name(),
                          'recall@5': global_recall_at_5,
                          'recall@10': global_recall_at_10}    
        return global_metrics, detailed_results_df
    
model_evaluator_high_tech = ModelEvaluator()

In [11]:
#Création de la matrice des clients / Produits avec 0 quand ils ont pas acheté le produit, et 1 quand ils ont acheté
#Matrice catégorie autre
matrix_vente_autre = vente_train_autre.pivot(index = 'id_client',
                                                 columns = 'id_produit',
                                                 values = 'note').fillna(0)

#Matrice catégorie High-tech 
matrix_vente_high_tech = vente_train_high_tech.pivot(index = 'id_client',
                                                 columns = 'id_produit',
                                                 values = 'note').fillna(0)

In [12]:
matrix_vente_autre_valeur = matrix_vente_autre.values
matrix_vente_high_tech_valeur = matrix_vente_high_tech.values

In [13]:
matrix_user_autre = list(matrix_vente_autre.index)
matrix_user_high_tech = list(matrix_vente_high_tech.index)

In [14]:
user_sparse_matrix_autre = csr_matrix(matrix_vente_autre_valeur)
user_sparse_matrix_autre

<49x275 sparse matrix of type '<class 'numpy.float64'>'
	with 343 stored elements in Compressed Sparse Row format>

In [15]:
user_sparse_matrix_high_tech = csr_matrix(matrix_vente_high_tech_valeur)
user_sparse_matrix_high_tech

<2979x15360 sparse matrix of type '<class 'numpy.float64'>'
	with 18748 stored elements in Compressed Sparse Row format>

In [16]:
nb_facteurs = 15
#Facteur pour le calcul sur les matrices
U_autre, sigma_autre, Vt_autre = svds(user_sparse_matrix_autre, k = nb_facteurs)
U_high_tech, sigma_high_tech, Vt_high_tech = svds(user_sparse_matrix_high_tech, k = nb_facteurs)

In [17]:
U_autre.shape
U_high_tech.shape

(2979, 15)

In [18]:
Vt_autre.shape
Vt_high_tech.shape

(15, 15360)

In [19]:
sigma_autre = np.diag(sigma_autre)
sigma_autre.shape

sigma_high_tech = np.diag(sigma_high_tech)
sigma_high_tech.shape

(15, 15)

In [20]:
#Nous allons calculer des prédicteurs pour les valeurs 0 de la matrice "matrix_vente_xx" 
user_predicted_autre = np.dot(np.dot(U_autre,sigma_autre), Vt_autre)

user_predicted_high_tech = np.dot(np.dot(U_high_tech, sigma_high_tech), Vt_high_tech)
user_predicted_high_tech

array([[ 4.09535609e-06,  3.14952897e-10,  7.24043163e-09, ...,
         3.89715100e-06,  1.28132225e-19,  8.33376794e-21],
       [ 1.16921672e-10, -1.59448863e-12, -7.53330018e-14, ...,
        -6.12613131e-11, -1.13535554e-24, -2.08710173e-27],
       [ 3.92036668e-06, -2.73894090e-12,  4.90684174e-11, ...,
         9.13003345e-09, -1.95868077e-21,  2.47916967e-21],
       ...,
       [ 1.85933247e-09, -2.32551771e-11,  1.06823629e-12, ...,
        -1.21068954e-10, -3.49783281e-23, -1.36374795e-23],
       [ 2.82824904e-06, -5.24701746e-08, -2.72424817e-09, ...,
        -2.72288172e-06, -2.24669580e-20,  7.22719332e-21],
       [ 3.98735854e-20, -2.26823553e-23, -1.21777620e-23, ...,
        -1.23987519e-19,  4.45795112e-34,  4.06276125e-34]])

In [21]:
user_predicted_autre_normalise = (user_predicted_autre - user_predicted_autre.min()) / (user_predicted_autre.max() - user_predicted_autre.min())

user_predicted_high_tech_normalise = (user_predicted_high_tech - user_predicted_high_tech.min()) / (user_predicted_high_tech.max() - user_predicted_high_tech.min())
user_predicted_high_tech_normalise

array([[0.19513741, 0.19513491, 0.19513491, ..., 0.19513729, 0.19513491,
        0.19513491],
       [0.19513491, 0.19513491, 0.19513491, ..., 0.19513491, 0.19513491,
        0.19513491],
       [0.1951373 , 0.19513491, 0.19513491, ..., 0.19513491, 0.19513491,
        0.19513491],
       ...,
       [0.19513491, 0.19513491, 0.19513491, ..., 0.19513491, 0.19513491,
        0.19513491],
       [0.19513663, 0.19513487, 0.1951349 , ..., 0.19513324, 0.19513491,
        0.19513491],
       [0.19513491, 0.19513491, 0.19513491, ..., 0.19513491, 0.19513491,
        0.19513491]])

In [22]:
matrix_preds_autre = pd.DataFrame(user_predicted_autre_normalise, columns = matrix_vente_autre.columns, index = matrix_user_autre).transpose()
matrix_preds_autre.head(10)

matrix_preds_high_tech = pd.DataFrame(user_predicted_high_tech_normalise, columns = matrix_vente_high_tech.columns, index = matrix_user_high_tech).transpose()
matrix_preds_high_tech.head(10)

,6,9,27,34,43,46,47,50,51,58,...,94690,94844,94898,95072,95673,95734,96875,98311,98610,98677
id_produit,,,,,,,,,,,,,,,,,,,,,
1,0.195137,0.195135,0.195137,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195137,0.195135
4,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
6,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
7,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
8,0.195495,0.195135,0.195135,0.195136,0.195135,0.195146,0.195136,0.195135,0.195135,0.195137,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
9,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
11,0.195158,0.195135,0.195135,0.195136,0.195135,0.195144,0.195135,0.195135,0.195135,0.195137,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195138,0.195135
14,0.195136,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135
16,0.195138,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195136,0.195135,0.195135,0.195135,0.195135,0.195134,0.195135
18,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,...,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135,0.195135

In [23]:
len(matrix_preds_autre.columns)
len(matrix_preds_high_tech.columns)

2979

In [27]:
class CFRecommender:
    
    MODEL_NAME = 'Collaborative Filtering'
    
    def __init__(self, matrix_preds_autre, items_df=None):
        self.cf_preds = matrix_preds_autre
        self.items_df = items_df
        
    def get_model_name(self):
        return self.MODEL_NAME
        
    def recommend_items(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        # Get and sort the user's predictions
        sorted_user_predictions = self.cf_preds[user_id].sort_values(ascending=False).reset_index().rename(columns={user_id: 'note'})

        # Recommend the highest predicted rating movies that the user hasn't seen yet.
        recommendations_df = sorted_user_predictions[~sorted_user_predictions['id_produit'].isin(items_to_ignore)].sort_values('note', ascending = False).head(topn)

        if verbose:
            if self.items_df is None:
                raise Exception('"items_df" is required in verbose mode')

            recommendations_df = recommendations_df


        return recommendations_df
    
#Pour la catégorie Autre 
cf_recommender_model_autre = CFRecommender(matrix_preds_autre, vente_2015)

#Pour la catégorie High_tech 
cf_recommender_model_high_tech = CFRecommender(matrix_preds_high_tech, vente_2015)

In [25]:
print("SVD")
cf_global_metrics, cf_detailed_results = model_evaluator_autre.evaluate_model(cf_recommender_model_autre)
print("\nGlobal Metrics : \n%s" % cf_global_metrics)
cf_detailed_results.head(10)

SVD
39 users processed

Global Metrics :
{'modelName': 'Collaborative Filtering', 'recall@5': 0.0, 'recall@10': 0.023255813953488372}

,hits@5_count,hits@10_count,interacted_count,recall@5,recall@10,_person_id
3,0,0,5,0.0,0.0,97735
7,0,0,5,0.0,0.0,97673
10,0,0,5,0.0,0.0,98002
17,0,0,4,0.0,0.0,98311
23,0,0,4,0.0,0.0,98704
22,0,0,4,0.0,0.0,98530
19,0,0,4,0.0,0.0,97733
15,0,0,4,0.0,0.0,96790
20,0,0,3,0.0,0.0,98677
24,0,0,3,0.0,0.0,97440

In [28]:
print("SVD")
cf_global_metrics, cf_detailed_results = model_evaluator_high_tech.evaluate_model(cf_recommender_model_high_tech)
print("\nGlobal Metrics : \n%s" % cf_global_metrics)
cf_detailed_results.head(10)

SVD

KeyError: 9227

In [29]:
cf_recommender_model_autre.recommend_items(98704, topn=20, verbose=True)

    id_produit      note
0        99949  0.827587
1        99979  0.811010
2        99963  0.791051
3        99987  0.786949
4        99923  0.769541
5        99919  0.702750
8        95698  0.696648
10       99911  0.696648
9        99992  0.696648
7         4548  0.696648
6        51083  0.696648
11       99969  0.338621
12       99593  0.303034
13       98883  0.303034
14       99307  0.303034
15       99325  0.303034
16       99486  0.303034
17       99905  0.285463
18       99964  0.273284
19       51880  0.262395

In [42]:
vente_2015.loc[(vente_2015['id_client'] == 98704) & (vente_2015['id_produit'] == 99949)]

,id_vente,date_vente,id_client,categorie_client,id_magasin,prix_vente_unitaire,quantité,id_produit,categorie_produit,note
45310,6961,02/01/2015,98704,Autre,85,6.16,3,99949,Autre,1

In [31]:
vente_2015.loc[(vente_2015['id_client'] == 98704) & (vente_2015['id_produit'] == 99969)]

Empty DataFrame
Columns: [id_vente, date_vente, id_client, categorie_client, id_magasin, prix_vente_unitaire, quantité, id_produit, categorie_produit, note]
Index: []

In [52]:
cf_recommender_model_high_tech.recommend_items(11317, topn=20, verbose=True)

    id_produit      note
0         8852  0.195606
1         8658  0.195582
2         7996  0.195541
3         7063  0.195510
4        12071  0.195507
5         5103  0.195506
6        12240  0.195503
7        91178  0.195482
8        14588  0.195482
9         2797  0.195482
10        2302  0.195482
11        1242  0.195482
12         723  0.195482
13        6851  0.195482
14       79918  0.195482
15       37359  0.195482
16        3552  0.195482
17       83919  0.195482
18       20328  0.195210
19        5626  0.195202

In [59]:
vente_2015.loc[(vente_2015['id_client'] == 11317) & (vente_2015['id_produit'] == 12240)]

Empty DataFrame
Columns: [id_vente, date_vente, id_client, categorie_client, id_magasin, prix_vente_unitaire, quantité, id_produit, categorie_produit, note]
Index: []

In [43]:
#Calcul des produits "Autre" les plus populaires
item_popularity_autre = vente_autre.groupby('id_produit')['note'].sum().sort_values(ascending=False).reset_index()
item_popularity_autre.head(10)

item_popularity_high_tech = vente_high_tech.groupby('id_produit')['note'].sum().sort_values(ascending=False).reset_index()
item_popularity_high_tech.head(10)

   id_produit  note
0        1951   6.0
1       10793   6.0
2        5629   6.0
3        3589   6.0
4       10292   6.0
5        5436   6.0
6        1844   5.0
7       11993   5.0
8        3249   5.0
9        6167   5.0

In [47]:
class PopularityRecommender:
    
    MODEL_NAME = 'Popularity'
    
    def __init__(self, popularity_df, items_df=None):
        self.popularity_df = popularity_df
        self.items_df = items_df
        
    def get_model_name(self):
        return self.MODEL_NAME
        
    def recommend_items(self, user_id, items_to_ignore=[], topn=10, verbose=False):
        # Recommend the more popular items that the user hasn't seen yet.
        recommendations_df = self.popularity_df[~self.popularity_df['id_produit'].isin(items_to_ignore)].sort_values('note', ascending = False).head(topn)

        if verbose:
            if self.items_df is None:
                raise Exception('"items_df" is required in verbose mode')

            recommendations_df = recommendations_df

        return recommendations_df
    
#Produit Autre
popularity_model_autre = PopularityRecommender(item_popularity_autre, vente_2015)

#Produit High_tech
popularity_model_high_tech = PopularityRecommender(item_popularity_high_tech, vente_2015)

In [45]:
print('Evaluating Popularity recommendation model...')
pop_global_metrics, pop_detailed_results_df = model_evaluator_autre.evaluate_model(popularity_model_autre)
print('\nGlobal metrics:\n%s' % pop_global_metrics)
pop_detailed_results_df.head(10)

Evaluating Popularity recommendation model...
39 users processed

Global metrics:
{'modelName': 'Popularity', 'recall@5': 0.05813953488372093, 'recall@10': 0.12790697674418605}

,hits@5_count,hits@10_count,interacted_count,recall@5,recall@10,_person_id
3,0,0,5,0.00,0.000000,97735
7,0,1,5,0.00,0.200000,97673
10,0,1,5,0.00,0.200000,98002
17,0,0,4,0.00,0.000000,98311
23,0,0,4,0.00,0.000000,98704
22,0,0,4,0.00,0.000000,98530
19,1,1,4,0.25,0.250000,97733
15,1,1,4,0.25,0.250000,96790
20,0,1,3,0.00,0.333333,98677
24,0,0,3,0.00,0.000000,97440

In [48]:
print('Evaluating Popularity recommendation model...')
pop_global_metrics, pop_detailed_results_df = model_evaluator_high_tech.evaluate_model(popularity_model_high_tech)
print('\nGlobal metrics:\n%s' % pop_global_metrics)
pop_detailed_results_df.head(10)

Evaluating Popularity recommendation model...

KeyError: 9227

In [49]:
popularity_model_autre.recommend_items(98704, topn=20, verbose=True)

    id_produit      note
0        99934  6.000000
1        99906  4.000000
2        99914  4.000000
3        99948  4.000000
4        99933  4.000000
5        99910  4.000000
6        99979  4.000000
7        99903  4.000000
9        99919  3.584963
8        99921  3.584963
18       99357  3.000000
26       99963  3.000000
25       99938  3.000000
24       99991  3.000000
22       99987  3.000000
21       99985  3.000000
20       99930  3.000000
19       99925  3.000000
23       99990  3.000000
17       99923  3.000000

In [50]:
vente_2015.loc[(vente_2015['id_client'] == 98704) & (vente_2015['id_produit'] == 99934)]

Empty DataFrame
Columns: [id_vente, date_vente, id_client, categorie_client, id_magasin, prix_vente_unitaire, quantité, id_produit, categorie_produit, note]
Index: []

In [51]:
vente_2015.loc[(vente_2015['id_client'] == 98704) & (vente_2015['id_produit'] == 99919)]

,id_vente,date_vente,id_client,categorie_client,id_magasin,prix_vente_unitaire,quantité,id_produit,categorie_produit,note
45308,6961,02/01/2015,98704,Autre,85,20.83,8,99919,Autre,1

In [ ]:
def inspect_interactions(person_id, test_set=True):
    if test_set:
        vente = vente_test_indexed
    else:
        vente = vente_train_indexed
    return vente.loc[person_id].sort_values('note', ascending = False)[['id_produit']]

In [ ]:
inspect_interactions(98719, test_set = True)